<% success.forEach(e => { %>
    <div class="alert alert-success text-center " role="alert"><%=e%></div>
<% }); %>

<% errors.forEach(e => { %>
    <div class="alert alert-danger text-center " role="alert"><%=e%></div>
<% }); %>